<h1>Codes</h1>
{{#if loggedIn }}
<a href='code/new'>Create new code snippet </a>
{{/if}}

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#if codeData.codes.length }}
    {{#each codeData.codes}}
    <tr>
      <td><pre id="snippet">{{ this.code }}</pre></td>
      <td>{{ this.user }}</td>
      <td>
        <a href="code/{{this.id}}/edit"><span class="edit-btn">Edit</span></a>
        <a href="code/{{this.id}}/remove"><span class="edit-btn">Delete</span></a>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td>
        There are no code snippets available.
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>